GPU_ENABLED=false
ENV=dev
LOG_LEVEL=DEBUG

# ECI
ECI__OCR_CONFIDENCE_THRESHOLD=0.8       # Required
ECI__FRAME_BOTTOM_PERCENTAGE=15         # Required
ECI__FRAME_LEFT_PERCENTAGE=40           # Required
